
.shop_container {
  
  margin-bottom:300px;
}


.shop_row {
  display:flex;
  flex-direction: row;

  margin-top: 130px;
  padding: 20px;
  width: 100%;
  background-color: white;
  z-index: 1;
}


.product {
  height: 350px;
  width: 300px;
  margin:30px;
 

}


.product > img {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  
}


.shop1_row{
  flex-direction: column;

}